
<!-- Restore Modal HTML -->

{% extends 'base.html' %}
{% block content %}

 <form method="POST" action="" >
    <!-- Security token by Django -->
     {% csrf_token %}
    <div class="modal-header">						
        <h4 class="modal-title">Restore division</h4>
    
    </div>
    <div class="modal-body">					
        <p>Are you sure you want to restore these Records?</p>
    </div>
    <div class="modal-footer">

        <input type="button" href="" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" onclick="" class="btn btn-danger" value="restore"></a>
    </div>
 </form>
 {% endblock %} 