# Frontend templates
AdminLTE 
# Icones
fontawesome 
# Lazy Load Form Fields In Rails with HTMX
HTMX 1.7.0
#Connect to a PostgreSQL database and execute queries in Python using the Psycopg2 library
psycopg2 2.9.3
#Pandas is a data analysis and manipulation library
pandas 1.4.2
#Openpyxl is a Python library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files
openpyxl 3.0.9
# manage Django forms
django-crispy-forms