{% extends 'base.html' %}


{% block content %} 

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h5 class="m-0">Planning</h5>
                      </div>
                      <div class="card-body table-responsive p-0" >
                      <div class="card-body">
                        <table class="table table-bordered text-nowrap">
                            <thead >
                                <tr>
                                    <th>Plant</th>
                                    <th>Profit Centre</th>
                                    <th>Order</th>
                                    <th>Material Number</th>         
                                    <th>Material description</th>
                                    <th>Order Type </th>
                                    <th>Order quantity</th>
                                    <th>Begin Date</th>
                                    <th>End Date</th>
                                    <th>Freeze </th>
                                    <th>Reschedule date</th>
                                    <th>Exception message</th>
                                    <th>Firming indicator</th>
                                    <th>System Status</th>
                                    <th>Sales Order</th>
                                    <th>Actual finish date</th>
                                    <th>Allocated time</th>
                                    <th>Leadtime</th>
                                    <th>Workstation</th>
                                    <th>Allocated time on workstation</th>
                                    <th>Smooth Family</th>
                                    <th>Ranking</th>
                                    <th>Freeze end date</th>
                                    <th>Remain to do</th>
                                    <th>Smoothing end date</th>
                                    <th>Advance/delay</th>
                                </tr>
                            </thead>
                            </table>
                      </div>
                    </div>
                </div>
                 
        </div>
    </div>

</div>
</div>

{% endblock %}